

.myInput{
    width: 200px;
    float: left;
    height: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #151419;
    outline: none;
    border: none;
    padding:0px 20px;
    color: white;
}

.myInput:focus{
    border: transparent;
}